<template>
    <div>
        <b-spinner v-if="!load" class="loading-spinner" label="Spinning"></b-spinner>
        <div class="header" v-if="load">
            <div class="overlay"></div>
            <div class="primary-header-box">
                <h3 class="primary">
                    <span class="primary-title">“Not all readers are leaders, but all leaders are readers.”</span>
                    <span class="primary-subtitle">— <i>Harry S. Truman</i></span>
                </h3>
            </div>
        </div>

        <div v-if="load" class="container">
            <h3 class="home-heading" v-on:click="openArticle()">Articles</h3>
            <article>
                <b-container>
                    <b-row class="article-box" v-for="(post,index) in articles.slice().reverse()" :key="post.url_slug + '_' + index">
                        <b-col lg="8">
                            <nuxt-link :to="{ path: '/articles/' + post.url_slug, params: { id: 0 }}" v-on:click="openArticle(post)">
                                <figure class="featured-image-box">
                                    <img v-if="post.featured_image" :src="post.featured_image" class="featured-image" />
                                    <figcaption class="featured-image-caption">Click Here to Read</figcaption>
                                </figure>
                            </nuxt-link>
                        </b-col>
                        <b-col lg="4">
                            <nuxt-link class="article-title" :to="{ path: '/articles/' + post.url_slug, params: { id: 0 }}">
                                {{post.seo_title}}
                            </nuxt-link>
                            <div v-on:click="openArticle(post)" class="article-summary">
                                <div class="article-date">{{post.date}}</div>
                                <p>{{post.summary}}</p>
                            </div>
                        </b-col>
                    </b-row>
                </b-container>

            </article>
        </div>
    </div>
</template>

<script>
import articlesQuery from '~/api/queries/articles';

export default {
    name: 'ArticlesHome',
    data() {
        return { 
            load: false,
            months: ['January', 'February', 'March', 'April', 'May',
                'June', 'July', 'August', 'September', 'October',
                'November', 'December']
            ,
            articles: [],
            api_url: process.env.strapiBaseUri
        };
    },
    apollo: {
        articles: {
            prefetch: true,
            query: articlesQuery,
            result({data, loading, networkStatus}) {
                this.load = true;
            }
        }
    },
    methods: {
        openArticle(post) {
            console.log(post);
        }
    },
    head() {
        return {
            title: "Articles"
        }
    }
}
</script>

<style lang="scss" scoped>
    .overlay {
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }

    a {
        color: $color-primary-font;
    }

    .header {
        height: 75vh;
        background-image: url('~static/images/aruba.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover; //webkit support
        -moz-background-size: cover; //Mozilla support
        -o-background-size: cover; //Opera support
        position: relative;
        background-position: 50% 80%;

        @include respond(phone) {
            background-attachment: scroll;
        }

        .primary-header-box {
            position: absolute;
            bottom: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            width: 100%;
            
            @include respond(phone) {
                top: 42%;
            }

            /* font-family: 'Pacifico', cursive; */
        }
    }

    .home-heading {
        display: inline-block;
        color: $color-primary-font;
        font-size: 3.5rem;
        font-family: $primary-font;

        position: relative;
        float:left;

        padding-top: 5rem;

        @include respond(phone) {
            font-size: 2rem;

            &:after {
                bottom: -1.5rem !important;
                height: .1rem !important;
                width: 100% !important;
            }
        }

        &:after {
            content: '';
            position: absolute;
            bottom: -1rem;
            height: .2rem;
            width: 100%;
            left: 0;
            background-color: currentColor;
        }
    }

    .article-summary {
        position:relative;

        margin-top: 50px;
        display:flex;
        flex-direction: column;
        width:100%;
        @include respond(phone) {
            position :relative;
            float:left;
            margin-top: 5px;

            display:table;
            overflow:auto;
            .article-date {
                margin-bottom: 5px !important;
            }
        }
        
        .article-date {
            font-size: 1.4rem;
            color: $color-grey-dark;
            letter-spacing: 1px;
            margin-bottom: 15px;
        }
        p {font-size: 1.2rem;}
    }

    article {
        padding-top: 5rem;
        position:relative;
        display: table;
        width: 100%;
        overflow: auto;      
            text-align: left;


        .row:not(:last-of-type) {
            padding-bottom: 2.5rem;
        }
    }

    .article-title {
        display: inline-block;
        color: $color-primary-font;
        font-family: $primary-font;
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: .2rem;
        position: relative;

        &:after {  
            content: '';
            position:absolute;
            bottom: -1.5rem;
            height: 1px;
            width: 5rem;
            background-color: $color-grey-dark; 
            left: 1px;
        }

        @include respond(phone) {
            font-size: 1.8rem;

            &:after {
                content: none;
            }
        }
    }

    .featured-image-box {
        position:relative;
        width: 100%;
        border-radius: 2px;
        display:table;
        overflow: auto;
        cursor: pointer;
        max-width: 58rem;
    
        .featured-image {
            width: 100%;
        }

        .featured-image-caption {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 20%);
            color: white;
            text-transform: uppercase;
            font-size: 2rem;
            text-align: center;
            font-family: $primary-font;
            opacity: 0;
            transition: all .8s;
            backface-visibility: hidden;
        }

        &:hover {
            .featured-image {
                filter: blur(0.5px) brightness(80%);
            }

            .featured-image-caption {
                opacity: 1;
                transform: translate(-50%, -50%);
            }
        }
    }
</style>