.primary {
    color: #F6ECEE;
    font-family: $primary-font;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    text-align:center;
    .primary-title {
        display: inline-block;        
        font-weight: 600;
        font-size: 3.5rem;
        letter-spacing: 0.2rem;

        margin-bottom: 1rem;

        @include respond(phone) {
            font-size: 2.5rem;
            letter-spacing: 0;
            width: 90%;
        }

        animation: gradualVisibility 1s ease-in;
    }
    .primary-subtitle {
        display: block;        
        font-weight: 100;
        font-size: 2rem;
        text-transform: uppercase;

        @include respond(phone) {
            font-size: 1.5rem;
        }

        animation: gradualVisibility 1s ease-in;
    }
}

.section-heading {
    margin: 2rem 0 2rem 0;

    text-transform: uppercase;
    color: black;
    font-size: 2.6rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    font-family: $primary-font;
    display: block;

    text-align: center;

    position: relative;

    @include respond(phone) {
        font-size: 2.4rem;
    }
}

.paragraph {
    font-size: 1.7rem;
    font-family: $primary-font;
    color: #44414C;
    display: inline-block !important;
    &:not(:last-of-type) {
        margin-bottom:1rem;
    }

    &:last-of-type {
        margin-bottom: 0 !important;
    }

    @include respond(phone) {
        font-size: 1.5rem;
    }

    text-align: left;
}

.project-heading {
    display: inline-block;
    color: $color-primary-font;
    font-size: 4.5rem;
    font-family: $primary-font;

    padding-top: 3rem;
    margin-bottom: 5rem;
    position: relative;
    text-align: center;
    @include respond(phone) {
        font-size: 2rem;

        &:after {
            bottom: -1.5rem !important;
            height: .1rem !important;
            width: 10rem !important;
        }
    }

    &:after {
        content: '';
        position: absolute;
        bottom: -2rem;
        height: .3rem;
        width: 10rem;
        background-color: currentColor;
        left: 50%;
        transform: translateX(-50%);
    }

    &:hover {
        &:after {
            transition: all .5s ease-in-out;
            width:15rem;
        }
    }
}

.dribble {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    margin-bottom: 10px;
    text-decoration: none;
    color: #44414C !important;

    img {
        height: 30px;
        margin-right: 10px;
    }

    font-size: 2.2rem;
    font-family: $primary-font;
}