.u-center-text {text-align: center;}
.u-left-text {text-align: left;}

.u-margin-bottom-small { margin-bottom: 1rem; }
.u-margin-bottom-medium { margin-bottom: 4rem;}
.u-margin-bottom-large { margin-bottom: 8rem; }

.u-margin-top-small { margin-top: 1rem; }
.u-margin-top-medium { margin-top: 4rem;}
.u-margin-top-large { margin-top: 8rem; }