<template>
    <div>
        <b-spinner v-if="!load" class="loading-spinner" label="Spinning"></b-spinner>
        <div style="padding-top: 80px;"></div>

        <transition name="fade">
            <div v-if="load" class="container u-left-text">
                <div class="article-grid">
                    <h1 class="article-title">{{title}}</h1>
                    <img v-if="article.featured_image" :src="article.featured_image" alt="" class="featured-image">
                </div>

                <div class="translate" v-if="article.spanish_body && !this.spanish"> 
                    <a class="border-button" v-on:click="translateToSpanish()">
                        Translate to Spanish
                    </a>
                </div>
                
                <div class="article-content">
                    <div class="author-info">
                        <img src="~static/images/lakehouse.jpg"/>
                        <span class="author-info-name">By Omar Finol-Evans</span>
                        <span class="author-info-date">{{date}}</span>
                    </div>
                    <article class="article-body" v-html="body"></article>
                </div>
                <!-- <div class="fb-comments" :data-href="url" data-numposts="5" data-colorscheme="light" data-width="100%"></div> -->
            </div>
        </transition>
    </div>
</template>

<script>
import articleQuery from '~/api/queries/article';

export default {
    name: 'Article',
    data() {
        return { 
            articles: {},
            months: ['January', 'February', 'March', 'April', 'May',
            'June', 'July', 'August', 'September', 'October',
            'November', 'December'],
            load: false,
            api_url: process.env.strapiBaseUri,
            slug: this.$route.params.slug,
            article: {},
            date: '',
            body: '',
            title: '',
            spanish: false
        }
    },
    methods: {
        getPost() {
            console.log('ARTICLE', this.articles);
        },
        translateToSpanish() {
            this.title = this.article.spanish_title;
            this.body = this.article.spanish_body;
            this.spanish = true;
        }
    },
    apollo: {
        articles: {
            prefetch: true,
            query: articleQuery,
            variables () {
                return { url_slug: this.slug }
            },
            result({data, loading, networkStatus}) {
                this.load = true;
                this.article = this.articles[0];
                this.title = this.article.title;
                this.body = this.article.body;

                let split_date = this.article['date'].split("-").map(function(x) {
                    return parseInt(x)
                });
                
                this.date = this.months[split_date[1]-1].toString() + " " + split_date[2] + ", " + split_date[0];
            }
        }
    },
    head () {
        return {
            title: this.article.seo_title,
            meta: [
                { hid: 'description', name: 'description', content: this.article.summary },
                { hid: 'og:title', name: 'og:title', content: this.article.title },
                { hid: 'og:description', name: 'og:description', content: this.article.summary },
                { hid: 'og:image', name: 'og:image', content: (this.article.featured_image) },
                { hid: 'og:image:alt', name: 'og:image:alt', content: 'Gateway Drug' },
                { hid: 'twitter:title', name: 'twitter:title', content: this.article.title },
                { hid: 'twitter:description', name: 'twitter:description', content: this.article.summary },
                { hid: 'twitter:image', name: 'twitter:image', content: (this.article.featured_image) },
                { hid: 'twitter:image:alt', name: 'twitter:image:alt', content: 'Gateway Drug' }
            ]
        }
    }
}
</script>

<style lang="scss" scoped>
    .container {
        padding-left: 15rem;
        padding-right: 15rem;
        
        @include respond(phone) {
            padding-left: 10%;
            padding-right: 10%;
        }
    }
    .article-title {
        grid-area: title;
        letter-spacing: 1px;
        font-weight: 600;
        font-size: 3.5rem;
        -webkit-backface-visibility: hidden;
        -webkit-font-smoothing: antialiased;
        @include respond(phone) {
            font-size: 2.3rem;
        }
    }
    .featured-image {
        grid-area: image;
        width: 100%;
        padding: 5rem 0 3rem;
        border-radius: 10px;
        @include respond(phone) {
            padding: 5% 0 5%;
        }
    }

    .translate {
        width: 100%;
        position: relative;
        margin-bottom: 7rem;

        @include respond (phone) {
            margin-bottom: 5rem;
        }
    }
   
    .article-content {
        position: relative;
        .author-info {
            width: 17rem;
            height: 15rem;
            float:left;
            @include respond(phone) {
                width: 100%;
                height: auto;
                float:unset;
                display:block;
                padding-bottom: 1rem;
            }
            img {
                border-radius: 50%;
                width:10rem;
                float: left;
                @include respond(phone) {
                    width:6rem;
                    padding-right: 1rem;
                }
            }
            &-name {
                display:inline-block;
                font-size:1.4rem;
                color: $color-primary-light;
                font-weight: 600;
                @include respond(phone) {
                    font-size:1.4rem;
                }
            }
            &-date {
                font-size: 1.4rem;
                color: $color-grey-dark;
                display:inline-block;
                @include respond(phone) {
                    font-size: 1.6rem;
                }
            }
        }
        .article-body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.8rem;
            line-height: 2.7rem;
            @include respond(phone) {
                font-size: 1.6rem;
            }

            margin-bottom: 5rem;
        }
    }
    .container {
        padding-top: 5rem;
    }
</style>