// COLORS
$color-primary: #8399B4;
$color-primary-font: #444649;
// $color-primary: #4364F7; #8399B4
$color-primary-medium: 	#99adc6;
$color-primary-light: rgb(63, 115, 173);

$color-app-background: #eee;
$color-grey-dark: #777;

$color-footer: #252525;

// FONTS
$meta-serif: ff-meta-serif-web-pro, serif;
$lato-font: "Lato", Helvetica, Arial, sans-serif;
$open-sans: "Open Sans", Helvetica, Arial, sans-serif;
$pacifico: 'Pacifico', cursive;
$primary-font: $lato-font;


// SPACING
$gutter-vertical: 2rem;
