@import "./base/animations";
@import "./abstracts/variables";
@import "./base/utilities";
@import "./layout/grid";
@import "./base/typography";
@import "./layout/card";
@import "./layout/image-composition";
@import "./layout/buttons";
@import "./layout/spinner";
@import "./layout/under-construction";

html, .sr {
  font-size: 62.5%;
  font-family: $primary-font;
}

#app {
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  position: relative;
  min-height: 100vh;
  background-color: white;
}

button:focus {
    outline:none;
    box-shadow: none;
}

.modal-header {
  .modal-title {
      font-family: $primary-font !important;
      font-size: 2.2rem !important;
  }
}
.modal-body {
  padding: 3rem 0 3rem 0;
  .featured-img {
    display:block;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2.5rem;
  }

  .modal-container {
    display:block;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      .action-buttons {
        display: flex;
        align-items: center;
          margin-bottom: 1.5rem;
        .git {
          height: 2.6rem;
          width: 2.6rem;
          margin-left: .5rem;
          img {
              height: 100%;
          }
        }
      }
    .paragraph {
      font-family: $open-sans;
    }
  }
}