<template>
    <div class="slider-container">
        <div class="left arrow-box" v-on:click="previousSlide()"><div id="left-arrow" class="arrow"></div></div>
        <img class="monitor" src="./monitor.svg" />
        <div class="monitor-shadow"></div>
        <div v-for="(slide,i) in slides" class="slide-box" :class="{ 'active' : (i == activeSlide), 'inactive' : (i != activeSlide) }" :key="'slide' + i" v-b-modal.modal-lg>
            <div class="slide">
                <a><img class="featured-slide" :src="slide.featured_image"  /></a>
                <span class="slide-title">{{slide.title}}</span>
                <div class="tools-banner">
                    <img class="tool" v-for="(tool, j) in slide.tools" :key="'tool' + j" :src="tool" />
                </div>
                <span class="slide-title" v-bind:style="{opacity:  (i == activeSlide) ? 1 : 0 }">{{slides[i].title}}</span>
            </div>
        </div>
        <div class="right arrow-box" v-on:click="nextSlide()"><div id="right-arrow" class="arrow"></div></div>

        <b-modal id="modal-lg" scrollable size="lg" :title="slides[activeSlide].title" hide-footer>
            <img class="featured-img" :src="slides[activeSlide].featured_image" />
            
            <div class="modal-container">
                <a v-if="slides[activeSlide].url && slides[activeSlide].type != 'portfolio'" target="_blank" :href="slides[activeSlide].url" class="border-button">
                    <span v-if="slides[activeSlide].type=='site'">View Site</span><span v-if="slides[activeSlide].type=='app'">View App</span>
                </a>

                <p class="paragraph"><span v-html="slides[activeSlide].description"></span></p>
            </div>
        </b-modal>
    </div>
</template>

<script>
export default {
    name: 'Slider',
    props: {
        slides: {
            type: Array,
            default: () => []
        }
    },
    data() {
        return {
            activeSlide: 0
        };
    },
    methods: {
        nextSlide() {
            if(this.activeSlide == this.slides.length-1) {
                this.activeSlide = 0;
            }
            else {
                this.activeSlide += 1;
            }

            const element = document.getElementById('right-arrow');

            element.classList.remove('right-animation');
            void element.offsetWidth;
            element.classList.add('right-animation');
        },
        previousSlide() {
            if(this.activeSlide == 0) {
                this.activeSlide = this.slides.length-1;
            }
            else {
                this.activeSlide -= 1;
            }

            const element = document.getElementById('left-arrow');

            element.classList.remove('left-animation');
            void element.offsetWidth;
            element.classList.add('left-animation');
        }
    },
    mounted() {
        console.log('Slider props',this.$props);
    }
}
</script>

<style lang="scss" scoped>
    .monitor {
        position: absolute;
        width: 500px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 20;

        @include respond(phone) {
            width: 100%;
        }
    }
    .arrow-box {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        @include respond(phone) {
            top: initial;
            bottom: 20px;
            transform: none;
        }

        cursor: pointer;
        .arrow {
            position:relative;
            background-color:#44414C;

            height: 8px;
            border-radius: 3px;
            width: 60px;

            &:before, &:after {
                content: ' ';
                background-color:#44414C;
                position:absolute;
                height: 8px;
                border-radius: 3px;
                width: 25px;
            }
        }
    }

    .left.arrow-box {
        left: 50px;
        
        .arrow {
            &:before, &:after {
                left:-3px;
            }
            &:before {
                bottom: 6px;
                transform: rotateZ(-40deg);
            }
            &:after {
                bottom: -6px;
                transform: rotateZ(40deg);
            }
        }
    }

    .right.arrow-box {
        right: 50px;
        
        .arrow {
            &:before, &:after {
                right:-3px;
            }
            &:before {
                bottom: 6px;
                transform: rotateZ(40deg);
            }
            &:after {
                bottom: -6px;
                transform: rotateZ(-40deg);
            }
        }
    }

    @keyframes leftAnimation {
        0% {
            opacity: 1;
        }

        10% {
            opacity: 0;
            transform: translateX(-45px);
        }
        49% {
            opacity: 0;
            transform: none;
            width: 0;
        }

        50% {
            opacity: 1;
            width: 0;
        }

        75% {
            opacity: 1;
            width: 60px;
        }

        100% {
            opacity: 1;
            width: 60px;
        }
    }

    @keyframes rightAnimation {
        0% {
            opacity: 1;
        }

        10% {
            opacity: 0;
            transform: translateX(45px);
        }
        49% {
            opacity: 0;
            transform: none;
            width: 0;
        }

        50% {
            opacity: 1;
            width: 0;
        }

        75% {
            opacity: 1;
            width: 60px;
        }

        100% {
            opacity: 1;
            width: 60px;
        }
    }

    @keyframes widthTo25 {
        0% {
            clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
        }
        49% {
            clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
        }
        50% {
           clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
        }

        75% {
            clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
        }
        100% {
            clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
        }
    }

    .left-animation {
        animation: leftAnimation 1s linear;

        &:before, &:after {
            animation: widthTo25 1s linear;
        }
    }

    .right-animation {
        animation: rightAnimation 1s linear;

        &:before, &:after {
            animation: widthTo25 1s linear;
        }
    }

    .slider-container {
        position:relative;
        height: 380px;
        width: 100%;

        @include respond(phone) {
            height: calc(95vw * (3/5) + 100px);
        }
    }

    .slide-box {
        display:block;
        position:absolute;
        z-index: 100;
        left: 50%;
        transform:translateX(-50%);
        cursor:pointer;

        @include respond(phone) {
            width: 100%;
        }
    }

    @keyframes maximize {
        0% {
            clip-path: polygon(0 0, 0 0, 0 0, 0 0, 0 0);
        }
        50% {
            clip-path: polygon(100% 0, 0 0, 0 100%, 0 100%, 100% 0);
        }
        100% {
            clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%, 100% 100%);
        }
    }


    @keyframes minimize {
        0% {
            clip-path: polygon(0 0, 0 0, 0 100%, 100% 100%, 100% 0);
        }
        50% {
            clip-path: polygon(100% 0, 0 100%, 0 100%, 100% 100%, 100% 0);
        }
        100% {
            clip-path: polygon(100% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 100%);
        }
    }

    .active.slide-box {
        .slide {
            clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%, 100% 100%);
            animation: maximize .5s linear;

            .slide-title {
                transition-delay: 1.5s;
                opacity: 1;
                top: 0;
            }
        }
    }

    .inactive.slide-box {
        .slide {
            clip-path: polygon(100% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 100%);
            animation: minimize .5s linear;
        }
    }

    .monitor-shadow {
        position: absolute;
        left: 50%;
        transform: translateX(-50%) ;
        bottom: 65px;
        height: 1px;
        width: 200px;
        border-radius:50%;
        background-color: rgba(0,0,0,.3);
        box-shadow: 0px 0px 35px 35px rgba(0,0,0,.3);
        z-index: 0;

        @include respond(phone) {
            bottom: 85px;
            width: 140px;
            box-shadow: 0px 0px 30px 30px rgba(0,0,0,.3);
        }
    }

    .slide {
        position: relative;
        border: 10px solid $color-footer;
        height: 300px;
        width: 500px;
        box-sizing: border-box;

        @include respond(phone) {
            width: 100%;
            height: calc(95vw * (3/5));
            border: 10px solid $color-footer
        }

        // &:before {
            // content: ' ';
            // position:absolute;
            // bottom: -20px;
            // left: 50%;
            // transform: translateX(-50%);
            // height: 20px;
            // width: 60px;
            // background-color: $color-footer;

        // }

        .featured-slide {
            background-size: cover;
            height: 100%;
            width: 100%;
            transition: all .2s;
        }

        .slide-title {
            position: absolute;
            width: 100%;
            background-color: rgba(22,62,67,.6);
            font-size: 1.6rem;
            letter-spacing: .5px;
            font-family: $primary-font;
            color: white;
            font-weight: bold;
            padding: 5px 10px 5px 10px;
            left: 0;
            top: -30px;
            opacity: 0;
            transition: all .3s;
        }

        .tools-banner {
            position: absolute;
            z-index: 2;
            right: 0;
            bottom: 0;
            display:flex;
            flex-wrap: nowrap;
            padding: 8px 10px 8px 10px;
            clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 0% 100%);
            background-color: rgba(255,255,255,.9);
            min-width: 200px;
            width: auto;
            justify-content: space-evenly;

            .tool {
                height: 20px;
            }
        }
    }
</style>