<template>
    <div class="tile-box container">
        <div class="tile" ontouchstart="" v-for="(tile,i) in tiles" :key="'tile' + i">
            <img class="featured-img" :src="tile.featured_image" />
            <div class="overlay"></div>
            <span class="title">{{tile.title}}</span>

            <div class="action-buttons">
                <a v-if="tile.url && tile.type != 'portfolio'" target="_blank" :href="tile.url" class="border-button">
                    <span v-if="tile.type=='site'">View Site</span><span v-if="tile.type=='app'">View App</span>
                </a>
                <a class="border-button" v-on:click="selectTile(tile)" v-b-modal.modal-lg>
                    Read More
                </a>
                <a v-if="tile.github" target="_blank" :href="tile.github" class="git">
                    <img src="/logos/github.svg" />
                </a>
            </div>

            <div class="tools-banner">
                <img class="tool" v-for="(tool, j) in tile.tools" :key="'tool' + j" :src="tool" />
            </div>
        </div>

        <b-modal id="modal-lg" scrollable size="lg" :title="selectedTile.title" hide-footer>
            <img class="featured-img" :src="selectedTile.featured_image" />
            
            <div class="modal-container">
                <div class="action-buttons">
                    <a v-if="selectedTile.url && selectedTile.type != 'portfolio'" target="_blank" :href="selectedTile.url" class="border-button">
                        <span v-if="selectedTile.type=='site'">View Site</span><span v-if="selectedTile.type=='app'">View App</span>
                    </a>

                    <a v-if="selectedTile.github" target="_blank" :href="selectedTile.github" class="git">
                        <img src="/logos/github.svg" />
                    </a>
                </div>

                <p class="paragraph"><span v-html="selectedTile.description"></span></p>
            </div>
        </b-modal>
    </div>
</template>

<script>
import ExperienceList from '~/components/ExperienceList';

export default {
    name: 'TileGrid',
    props: {
        tiles: {
            type: Array,
            default: () => []
        }
    },
    data() {
        return {
            selectedTile: {}
        };
    },
    methods: {
        selectTile(tile) {
            console.log('tile', tile)
            this.selectedTile = tile;
        }
    }
}
</script>

<style lang="scss" scoped>
    .tile-box {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .tile {
            position:relative;
            flex-basis: 50%;
            overflow-y: hidden;

            @include respond(phone) {
                flex-basis: 100%;
                margin-bottom: 1rem;
            }

            .featured-img {
                width: 100%;
                max-height: 300px;
                @include respond(phone) {
                    height: calc(95vw *(9/16));
                }
                object-fit: cover;
            }
            .overlay {
                background-color: rgba(255,255,255, 0);
                position: absolute;
                top: 0;
                left: 0;
                padding: 0;
                height: 100%;
                width: 100%;

                transition: background-color .4s;
            }

            .title {
                position: absolute;
                left: 0;
                transform: translateX(-50%);
                width: 80%;
                text-align:center;
                line-height: 2.4rem;

                top: 10%;

                font-family: $primary-font;
                font-size: 2.2rem;
                font-weight: bold;
                color: black;
                opacity: 0;
                transition: all .4s;

                &:after {
                    position: absolute;
                    content: ' ';
                    background-color: black;

                    height: 2px;
                    width: 40px;
                    left: 50%;
                    bottom: -10px;
                    transform: translateX(-50%);
                }
            }

            .action-buttons {
                pointer-events: none;
                display: flex;
                align-items: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%);
                opacity: 0;

                transition: all .4s;

                .border-button {
                    &:not(:last-of-type) {
                        margin-right: 1rem;
                    }
                }

                .git {
                    height: 2.6rem;
                    width: 2.6rem;
                    margin-left: .5rem;
                    img {
                        height: 100%;
                    }
                }
            }

            .tools-banner {
                position: absolute;
                z-index: 2;
                right: 0;
                bottom: -30px;
                display:flex;
                flex-wrap: nowrap;
                padding: 8px 10px 8px 10px;
                min-width: 250px;
                width: auto;
                justify-content: space-evenly;

                opacity: 0;

                transition: all .4s;

                .tool {
                    height: 25px;
                }
            }
            
            &:hover, &:focus {
                .overlay {
                    background-color: rgba(255,255,255, 0.8);
                }
                .title {
                    left: 50%;
                    opacity: 1;
                }

                .tools-banner {
                    opacity: 1;
                    bottom: 0;
                }

                .action-buttons {
                    pointer-events:all;
                    opacity: 1;
                }
            }
        }
    }

</style>