<template>
    <div>
        <div style="padding-top: 80px;"></div>
        <div class="experience">
            <span class="section-heading">My Projects</span>
            <tile-grid :tiles="tiles" />
        </div>
        <a target="_blank" href="https://dribbble.com/omarfevans" class="dribble"><img src="~static/logos/dribble.svg" /><span>See my designs on Dribbble!</span></a>
    </div>
</template>

<script>
import TileGrid from '~/components/TileGrid.vue';
import ExperienceList from '~/components/ExperienceList';

export default {
    name: "Experience",
    components: {
        TileGrid
    },
    data () {
        return { tiles: ExperienceList };
    },
    methods: {

    },
    mounted() {
        this.load = true;
    },
    head() {
        return {
            title: "Experience",
            meta: [
                { hid: 'description', name: 'description', content: "My personal and professional experience thus far in my voyage through life."}
            ]
        }
    }
}
</script>

<style lang="scss" scoped>
    .experience {
        padding: 2rem 0 2rem 0;
    }
</style>