.border-button {
    box-sizing: border-box;
    padding: 5px 10px 5px 10px;
    font-size:1.6rem;
    border: 2px solid #AE4656;
    color: #AE4656;
    cursor: pointer;
    float:left;
    bottom:0;
    text-decoration: none;
    white-space: nowrap;

    transition: all .3s;
    &:hover {
        color: white;
        background-color: #AE4656;
    }
}

.action-btn {
    display: block;
    background-color: #973040;
    color: white;
    padding: 1.6rem 4.5rem 1.6rem 4.5rem;
    border-radius: 50px;
    font-family: $primary-font;
    cursor: pointer;
    white-space: nowrap;

    text-decoration: none;

    font-size: 1.8rem;

    @include respond (phone) {
        font-size: 1.6rem;
    }
    letter-spacing: 1px;
    font-weight: bold;
    transition: all .3s;

    &:hover, &:focus {
        background-color: #A63446;
    }
}