.card {
    border-radius: 3px;
    box-shadow: 0 0.5rem 0.5rem rgba(#000, .15);
    text-align: center;
    transition: transform .3s;
    height: 30rem;

        .card-title {
            font-family: $primary-font;
            font-weight: 600;
            color: $color-primary-light;
            font-size: 2.5rem;
        }

    &:hover {
        @include respond(big-desktop) {
            transform: translateY(-1.5rem) scale(1.03);
        }
    }
}