@import "../abstracts/mixins";

.grid-container  {
    margin-top: 8rem;
    @include respond(phone) {
        margin-top: 3.6rem;
    }
    .row {
        margin: 0 auto;
        @include clearfix;
        [class^="col-"] {
            float:left;
            &:not(:last-child) {
                @include respond(tab-port) {
                    margin-bottom: $gutter-vertical;
                }
            }
            // @include respond(tab-port) {
            //     width: 100% !important;
            // }
        }
    }
    margin-bottom: 8rem;
}

.article-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(5rem, auto);
    
    grid-template-areas: "title title title"
                            "image image image";
        // "title title title title"
        // "image image image image"
        // "author body body body"
        // "body body body body";
}