.page-under-construction {
    height: 100vh;
    position: relative;

    &-text {
        position: fixed;
        width: 60rem;
        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);
        font-size: 3.0rem;
        color: $color-primary-font;

        @include respond(phone) {
            width: 85%;
            font-size: 2.0rem;
        }
    }
}