<template>
	<div style="position:relative">
		<header>
			<b-navbar id="nav-bar" :class="{'homePageStick nav-box-shadow' : !change && !navToggle && ($route.name == 'index' || $route.name == 'articles')}" toggleable="md">
				<div class="container">
					<b-navbar-brand to="/" class="logo-box">Omar Finol-Evans</b-navbar-brand>
					<b-button class="navbar-toggler" type="button" 
							variant="none" v-b-toggle.nav-collapse v-on:click="navToggle = !navToggle"> 
						<div class="custom-icon-bar" :class="{'hamburger-on-toggle': navToggle}"></div> 
					</b-button> 
					<b-collapse id="nav-collapse" is-nav>
						<b-navbar-nav class="ml-auto">
							<b-nav-item to="/experience" v-on:click="navToggle = false">
								Projects
							</b-nav-item>
							<b-nav-item v-on:click="navToggle = false" to="/articles">
								Articles
							</b-nav-item>
							<b-nav-item v-on:click="navToggle = false" to="/videos">
								Videos
							</b-nav-item>
							<b-nav-item to="/contact" v-on:click="navToggle = false">
								Contact Me
							</b-nav-item>
						</b-navbar-nav>
					</b-collapse>
				</div>
			</b-navbar>
		</header>
		
        <nuxt style="padding-bottom: 20vh;" />

        <footer class="footer">
            <b-container>
                <b-row>
                    <b-col>
                        <span class="logo-box">Omar Finol-Evans</span>
                        <div class="social-media">
                            <a target="_blank" href="https://www.linkedin.com/in/omarfevans"><img src="~static/social_media/linkedin_white.svg" /></a>
                            <a target="_blank" href="https://www.facebook.com/omar.evans.39"><img src="~static/social_media/facebook_white.svg" /></a>
                            <a target="_blank" href="https://www.instagram.com/omar.enrique_/"><img src="~static/social_media/instagram_white.svg" /></a>
                            <a target="_blank" href="https://twitter.com/omar__enrique"><img src="~static/social_media/twitter_white.svg" /></a>
                        </div>
                    </b-col>
                    <b-col></b-col>
                    <b-col></b-col>
                </b-row>
            </b-container>
        </footer>
	</div>
</template>

<script>
export default {
    name: "NavBar",
    data () {
        return {change: false, message: 'Hello', navToggle: false};
    },
    methods: {
        handleScroll() {
			this.change = window.scrollY > 10 ? true : false;
        },
        
    },
    mounted () {
        this.handleScroll();
        window.addEventListener('scroll', this.handleScroll);
    },
    destroyed () {
        window.removeEventListener('scroll', this.handleScroll);
    }
}
</script>

<style lang="scss" scoped>
    $duration: .3s;
    $distance: 4px;
    $easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);
    #nav-bar {
        transition: all .5s;
        padding: 2rem 1rem 2rem 2rem;
        top: 0;
        position: fixed;
        width: 100%;
        z-index: 1000;
        box-shadow: 0 6px 6px 3px rgba(0,0,0,.06);
        background-color: white;

        animation: moveInTop 2s;
    }
    .navbar-toggler {
        border: 0 !important;
        background-color: transparent !important;
        color: transparent !important;
        padding: 1rem;
        &:focus, &:active, &:focus:active, &:hover {
            outline:none;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        &>* {
            transition: all 0.4s ease;
        }
    }
    .homePageStick {
        padding: 4rem 1rem 4rem 2rem !important;
        background-color: transparent !important;
        box-shadow: none !important;
        .navbar-brand {
            color: #F6ECEE !important;
        }
        .nav-item .nav-link {
            color: #F6ECEE;
        }

        .custom-icon-bar {
            background-color:white;
        }
    }
    .logo-box {
        font-family: $pacifico;
        font-size: 2.5rem;
    }

    .custom-icon-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.0rem;
        height: .3rem;
        background-color: black;
        position: relative;

        &:before, &:after{
            content: '';
            position:absolute;
            top: -.8rem;
            width: 3rem;
            height: .3rem;
            background: inherit;
        }
        &:after {
            top: .8rem;
        }
    }

    .hamburger-on-toggle{
        transform: rotate(135deg);
        &:before, &:after {
            top: 0;
            transform: rotate(90deg);
        }
    }

    .nav-item .nav-link {
        position: relative;
        padding-bottom: 4px;
        font-size: 1.6rem;
        width: max-content;
        &:before, &:after {
            content: '';
            position: absolute;
            bottom: 2px;
            left: 0; right: 0;
            height: 2px;
            background-color: currentColor;
        }
        &:before {
            opacity: 0;
            transform: translateY(- $distance);
            transition: transform 0s $easeOutBack, opacity 0s;
        }
        &:after {
            opacity: 0;
            transform: translateY($distance/2);
            transition: transform $duration $easeOutBack, opacity $duration;
        }
        &:hover, &:focus {
            &:before, &:after {
                opacity: 1;
                transform: translateY(0);
            }
            &:before {
                transition: transform $duration $easeOutBack, opacity $duration;
            }
            &:after {
                transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
            }
        }
    }

    .footer {
        position: absolute;
        width: 100%;
        bottom: 0;
        height: 20vh;
        background-color: #44414C;
        display: flex;
        justify-content: center;
        align-items: center;

        flex-direction: column;

        .logo-box {
            display: block;
            font-family: $pacifico;
            font-size: 2.5rem;
            color:white;

            @include respond(phone) {
                font-size: 2rem;
            }
        }

        .social-media {
            margin-top: 2rem;
            display: flex;
            justify-content: left;
            align-content: center;
            flex-wrap: nowrap;
            opacity: .7;
            
            @include respond(phone) {
                margin-top: 1rem;
                a{img{height: 1.6rem !important;}}
            }

            a {
                img {
                    height: 2rem;
                }
                &:not(:last-child) {
                    margin-right: 2.8rem;
                }
            }
        }
    }
</style>