<template>
    <div>
        <div class="header">
            <div class="overlay"></div>
            <!-- Arrow down to rest of content -->
            <div class="primary-header-box">
                <h1 class="primary">
                    <span class="primary-title">Hi, I am Omar Finol-Evans.</span>
                    <span class="primary-subtitle">Web Developer. Designer. Creative Writer.</span>
                </h1>
            </div>
            <nuxt-link class="action-btn" to="/experience">See My Work</nuxt-link>
            <div class="scroll-down" v-on:click="scroll()">Scroll Down</div>
        </div>
        <main>
            <section id="projects" class="project-slider">
                <span class="section-heading">My Projects</span>
                <b-container>
                    <Slider :slides="slides" />
                </b-container>
                <a target="_blank" href="https://dribbble.com/omarfevans" class="dribble"><img src="~static/logos/dribble.svg" /><span>See my designs on Dribbble!</span></a>
            </section>

            <section id="about" class="aboutMe">
                <span class="section-heading" v-scroll-reveal>About Me</span>
                <b-container class="grid-container">
                    <b-row>
                        <b-col lg>
                            <div class="profile-picture-column" v-scroll-reveal="{ origin: 'left' }">
                                <img class="profile-picture" src="../static/images/lakehouse.jpg"/>
                                <div class="social-media">
                                    <a target="_blank" href="https://www.linkedin.com/in/omarfevans"><img src="../static/social_media/linkedin.png" /></a>
                                    <a target="_blank" href="https://www.facebook.com/omar.evans.39"><img src="../static/social_media/facebook.png" /></a>
                                    <a target="_blank" href="https://www.instagram.com/omar.enrique_/"><img src="../static/social_media/instagram.png" /></a>
                                    <a target="_blank" href="https://twitter.com/omar__enrique"><img src="../static/social_media/twitter.png" /></a>
                                </div>
                            </div>
                        </b-col>
                        <b-col lg>
                            <div class="description" v-scroll-reveal="{ origin: 'right' }">
                                <p class="paragraph">
                                    Born in Maracaibo, Venezuela. Raised in Boise, Idaho. Educated at Washington State University as a Bachelor of Science in Computer Science.  With this website, I hope to showcase my skills and experience as a <b>Full-Stack Web Developer</b>, the career in which I plan to go into.  I also have a passion for creative writing and will use my site to share my own pieces in which I will explore areas such as philosophy, film, and travel (maybe football too in the coming season, I'm a die hard Green Bay Packers and WSU fan).
                                </p>
                                <p class="paragraph">I currently live in Pullman, Washington with my beautiful wife as I work towards my graduation from WSU this May 2020.</p>
                            </div>
                        </b-col>
                    </b-row>
                </b-container>
            </section>
        </main>
    </div>
</template>

<script>
import Slider from '~/components/Slider.vue';
import TileGrid from '~/components/TileGrid.vue';
import ExperienceList from '~/components/ExperienceList';

export default {
    name: 'Home',
    components: {
        Slider,
        TileGrid
    },
    props: {
        
    },
    data() {
        return {
            slides: ExperienceList
        }
    },
    methods: {
        scroll() {
            window.scrollTo({
                top: document.getElementById("projects").offsetTop-80,
                left: 0,
                behavior: 'smooth'
            });
        },
        goTo(page) {
            this.$router.push({name: page});
        }
    },
    head(){
        return {
            title: "Omar's Portfolio Site",
            meta: [
                { hid: 'description', name: 'description', content: "I implement fluid, responsive user interfaces and am experienced with modern Javascript frameworks." },
                { hid: 'og:title', name: 'og:title', content: "Omar Finol-Evans's Portfolio Site" },
                { hid: 'og:description', name: 'og:description', content: "I implement fluid, responsive user interfaces and am experienced with modern Javascript frameworks." },
                { hid: 'og:image', name: 'og:image', content: "/experience/portfolio.png" },
                { hid: 'og:image:alt', name: 'og:image:alt', content: 'My Portfolio Site' },
                { hid: 'twitter:title', name: 'twitter:title', content: "Omar Finol-Evans's Portfolio Site" },
                { hid: 'twitter:description', name: 'twitter:description', content: "I implement fluid, responsive user interfaces and am experienced with modern Javascript frameworks." },
                { hid: 'twitter:image', name: 'twitter:image', content: "/experience/portfolio.png" },
                { hid: 'twitter:image:alt', name: 'twitter:image:alt', content: 'My Portfolio Site' },
                { hid: 'keywords', name: 'keywords', content:"Pullman,Web Developer,Javascript,React,Vue,Node.js,nodejs,Angular,Front End Developer,Developer,Software Engineer,Washington,Colorado,Bellingham,Responsive Design,"
                            + "Searching for Job,Omar Finol-Evans,Portfolio Site,Web Dev,Dev"}
            ]
        }
    }
}
</script>

<style lang="scss" scoped>
    .overlay {
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }

    .project-slider {
        padding-bottom: 3rem;
    }

	.profile-picture-column {
		text-align: center;
    }
    
    .action-btn {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 25%;
        animation: gradualVisibility 1s ease-in;
    }

    .arrow-button {
        position: absolute; 
        background-color:transparent;
        bottom: 10%;

        .arrow-image {
            display: inline-block;
            width: 5.0rem;
            height: 5.0rem;
            background: no-repeat center center;
            background-size: 100% 100%;

            animation: gradualVisibility 1s ease-in;
            transition: all .5s;
            &:hover {
                transform: translateY(-.3rem) scale(1.1);
            }
            &:active {
                transform: translateY(-.1rem);
            }
        }
    }

    .header {
        height: 100vh;
        background: url('~static/images/hua-shan.jpg') no-repeat center center;
        background-size: cover;
        -webkit-background-size: cover; //webkit support
        -moz-background-size: cover; //Mozilla support
        -o-background-size: cover; //Opera support
        position: relative;
        background-attachment: fixed;
        background-position: 50% 50%;
        display: flex;
        justify-content: center;

        @include respond(phone) {
            background-attachment: scroll;
            background-position: 58% 100%;
        }
        .primary-header-box {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            width: 100%;
            
            @include respond(phone) {
                top: 42%;
            }
        }
    }

    section {
        position:relative;
        background-color: white;
        display: table;
        width: 100%;
        overflow: auto;

        &:not(:first-of-type) {
            .section-heading {
                margin-top: 3rem;
            }
        }
    }

    .scroll-down {
        position: absolute;
        color: white;
        bottom: 5%;

        cursor: pointer;

        font-family: $primary-font;
        font-size: 1.6rem;

        animation: gradualVisibility 1s ease-in;

        &:before, &:after {
            position: absolute;
            content: ' ';
            background-color: white;
            height: 2px;
            width: 12px;

            bottom: -10px;
        }

        &:before {
            transform: rotate(-30deg);
            left: calc(50% - 1px);
        }

        &:after {
            right: calc(50% - 1px);
            transform: rotate(30deg);
        }

        &:hover {
            &:before {
                animation:seeMoreRightMoveDown 1s ease-out infinite;
            }
            
            &:after {
                animation:seeMoreLeftMoveDown 1s ease-out infinite;
            }
        }
    }

    .aboutMe {
        background: url('~static/backgrounds/low_poly.png') no-repeat center center;
        background-size: cover;
        margin-bottom: -1px;

        @include respond(phone) {
            background-position: 35% 50%;
        }

        .social-media {
            padding-top: 2rem;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-wrap: nowrap;
            a {
                img {
                    width: 3rem;
                }
                &:not(:last-child) {
                    margin-right: 2.8rem;
                }
            }
        }

        .profile-picture {
            border-radius: 50%;
            height: 25rem;
            border: .8rem solid #467379;

            @include respond(phone) {
                height: 16rem;
                border-width: .6rem;
            }

            transition: all .5s;
            &:hover {
                transform: scale(1.03);
            }
        }

        .description {
            background-color: rgba(255, 255, 255, 0.5);
            border-radius: 5px;
            padding: 1.5rem;
        }
    }
</style>