<template>
    <div class="page-under-construction">
        <div class="page-under-construction-text">
            I have plans for YouTube content creation.
            For now, there will be no content or details available in the immediate future.
        </div>
    </div>
</template>

<script>
export default {
    name: 'Videos',
    methods: {

    },
    head() {
        return {
            title: "Videos"
        }
    }
}
</script>

<style lang="scss" scoped>
    
</style>